<!DOCTYPE html>
<html>
  <head>
    <title>Simple Player</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="lib/rdio-utils/rdio-utils.css">
    <link rel="stylesheet" type="text/css" href="style/main.css">

    <!-- Register your app at http://www.rdio.com/developers/create/ and replace client_id below with yours  -->
    <script src="https://www.rdio.com/api/api.js?client_id=WjpIEDK8qHLmD0l04L2sxQ"></script>

    <script src="lib/jquery-1.9.1.min.js"></script>
    <script src="lib/modernizr.touch.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="lib/rdio-utils/rdio-utils.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/main.js"></script>
    <script id="album-template" type="text/template">
      <span class="album">
        <div class="icon" style="background-image: url(<%= icon %>)">
          <div class="buttons">
            <span class="play btn">Play</span>
            <a href="http://localhost:8080/gen?title=<%= name %>&artist=<%= artist %>" target="_blank" class="site btn">Magic</a>
            <a href="http://www.rdio.com<%= url %>" target="_blank" class="site btn">View on Rdio.com</a>
            <a href="<%= appUrl %>" target="_blank" class="app btn">View in Rdio app</a>
          </div>          
        </div>
        <div class="title albumLabel"><%= name %></div>
        <div class="artist albumLabel"><%= artist %></div>
      </span>
    </script>
  </head>
  <body>
    <div class="header">
      <div class="section">
        <img class="icon">
      </div>
      <div class="section">
        <button class="play">Play</button>
        <button class="next">Next</button>
        <button class="prev">Previous</button>
      </div>
      <div class="section">
        <div class="track albumLabel">Not Playing</div>
        <div class="album-title albumLabel"></div>
        <div class="artist ablumLabel"></div>
      </div>
    </div>
    <form class="search">
      Enter an artist or track name: 
      <input type="text"/>
      <button type="submit">Search</button>
      <div class="error"></div>
    </form>
    <div class="results"></div>
  </body>
</html>
